* {
    box-sizing: border-box;
}

input[type=text], select, textarea, input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    resize: vertical;
    background-color: #fff;
}

input[type=text]:focus, textarea:focus, input[type=password]:focus {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 0px;
    resize: vertical;
    outline-offset: 0px;
    outline: initial;
}

label {
    padding: 12px 5px;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}