/* @import url('../../../assets/banner.png'); */

.section-Header {
    height: 25vh;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    background-image: url('../../../assets/banner.png');
    background-size: cover;
}

.form {
    border-top: 1px solid #007B5E;
    border-bottom: 1px solid #007B5E;
    width: 100%;
    display: inline-flex;
}

.form_left_side {
    padding: 10px;
    margin: 0 auto;
    float: none !important;
}

.form_right_side {
    text-align: left;
    border-left: 1px solid #007B5E;
}

.box {
    border: 1px solid black;
    margin: 45px 45px;
    height: 185px;
}

.section-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #dfd9d9;
}

.section-nav ul li {
    float: left;
    width: 20%;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}

.section-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section-nav ul li:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #5f725f;
    color: white !important;
    border: none;
}

.tile_content{
    margin: 0 auto;
    float: none !important;
}

@media only screen and (max-width: 767px){
    .form_right_side {
        text-align: left;
        border: 1px solid #007B5E;
    }
    
}

@media only screen and (max-width: 425px){
    .form_right_side {
        text-align: left;
        border: 1px solid #007B5E;
    }

    .section-nav ul li {
        float: none;
        width: 100%;
        text-align: left;
    }

    .active {
        background-color: #5f725f;
        color: white !important;
        border: none;
    }
    
}