html body {
  font-style: Sans-Serif;
  height: 100%;
  margin: 0;
}

section {
  padding: 10px 0px !important;
  /* min-height: calc(100vh - 275px); */
  margin: 0 auto -50px;
}

.content {
  min-height: calc(100vh - 275px);
  margin: 0 auto;
}

.container {
  padding: 20px;
}

.col-10 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-80 {
  float: left;
  width: 80%;
  margin-top: 6px;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.mt-1 {
  margin-top: 6px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 14px;
}

.mt-4 {
  margin-top: 18px;
}

.mt-5 {
  margin-top: 22px;
}

.right {
  float: right;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.wrapper_content {
  min-height: calc(100vh - 272px);
}

.tile_box {
  float: left;
  width: 25%;
  margin-top: 5px;
  text-align: center;
}

/* Responsive layout - when the screen is less than 767px wide, make the two columns stack on top of each other instead of next to each other */

@media only screen and (max-width: 1024px) {
  .tile_box {
    float: left;
    width: 33.33%;
    margin-top: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .col-10, .col-20, .col-25, .col-30, .col-40, .col-50, .col-60, .col-75, .col-80, .col-100, input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
  .tile_box {
    float: left;
    width: 50%;
    margin-top: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .col-10, .col-20, .col-25, .col-30, .col-40, .col-50, .col-60, .col-75, .col-80, .col-100, input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
  .tile_box {
    float: left;
    width: 100%;
    margin-top: 6px;
    text-align: center;
  }
}