.grab{
    width:auto;
    /* border-radius: 200px; */
    border:1px solid #007b5e;
    padding:10px 25px;
    text-align: center;
    background-color: #007b5e;
    display: inline-block;
    transition: all 0.4s ease;
    cursor:pointer;
    color:#fff;
}
.grab button{
    color:#fff;
    text-decoration:none;
}
.grab p{
    color:#fff;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 110%;
}
.grab:hover,.grab:active{
    background-color:#11a07e;
    border:1px solid #007b5e;
    color: #000;
}
@media screen and (max-width:1170px){
    .grab{
        min-width:60px;
        padding:7px 8px;
        height: 40px;
    }
}