/* Select Wrapper (for befores & afters) */

.custom-select {
    /* wrapper style */
    position: relative;
    display: block;
    /* max-width: 400px; */
    /* min-width: 180px; */
    margin: 0 auto;
    /* the down arrow */
}

select {
    border: 1px solid #b6b6b6;
    outline: none;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
}

.custom-select:after {
    position: absolute;
    right: 5px;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 50px;
    /* content: "\25BC"; */
    text-align: center;
    z-index: -1;
    background: #b6b6b6;
    color: #fff;
    font-size: 18px;
}