.login_signup_form {
    /* width: 100%; */
}

.login_signup_form_content {
    float: none !important;
    margin: 0 auto;
    border: 1px solid #23D5AB;
}

.login_signup_form_header {
    background-color: #dfd9d9;
    overflow: hidden;
    /* padding: 0px 15px 0px 15px; */
    min-height: 45px;
}

.login_signup_form_header button {
    margin-top: 0px;
    height: 45px;
}

.login_signup_form_header .login_form_toggle_button {
    background-color: #fff;
    color: #000;
}

.login_signup_form_header .sign_up_form_toggle_button {
    color: #000;
    background-color: #fff;
}

.login_signup_form_header .active {
    background-color: #007b5e;
    color: #fff;
}

/* Responsive layout - when the screen is less than 767px wide, make the two columns stack on top of each other instead of next to each other */

@media only screen and (max-width: 767px) {
    .login_signup_form_button button {
        width: 100%;
        margin-top: 25px;
    }
    .login_signup_form_header .login_form_toggle_button {
        margin-bottom: 5px;
    }
}