.tile {
    text-align: left;
    padding: 20px;
    display: inline-block;
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
    color: rgb(104, 87, 87);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease;
    /* border-radius: 15px; */
    float: none !important;
    margin: 0 auto !important;
}

.nd1 {
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
}

.nd2 {
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
}

.nd3 {
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
}

.of1 {
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
}

.of2 {
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
}

.of3 {
    background-image: linear-gradient(#dfd9d9, #dfd9d9);
}

.tile:hover {
    margin-top: 0px;
    box-shadow: 0 20px 20px #747474;
}

.titleHead {
    padding-top: 15px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 140%;
}

.titleContent {
    text-transform: capitalize;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-size: 120%;
    font-weight: 400;
}

.titleButton {
    margin-top: 0px;
    float: right;
    /* padding-right: 10px; */
}

.tileImage {
    width: 250px;
    height: 250px;
}